<h1>Mungalo.pk - Pricing update tool</h1>
<%= flash[:notice] %>

<%= link_to 'Destroy All', controller: "product", action: "destroyall" %>
  <br/>

</br/>

<%= form_tag import_product_index_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import CSV" %>
<% end %>

<table data-pagination="true" data-search="true" data-toggle="table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>current_price</th>
      <th>new_price</th>
    </tr>
  </thead>
  <tbody>
    <% @AllProducts.each do |data| %>
  <tr>
    <td><%= data.name %></td>
    <td><%= data.current_price %></td>
    <td>    <%= form_for data do |f| %>
    <%= f.number_field :new_price %>
    <%= f.submit "Save" %>
  <% end %></td>
  </tr>
  <% end %>
  </tbody>
</table>
