<h2>Mungalo.pk - Pricing update tool</h2>
<%= flash[:notice] %> <br/>

<p>
  1. Delete all products first before starting a pricing excercise. <%#= link_to 'Click Here to Delete All', controller: "product", action: "destroyall" %>
</p>

<p>
  2. Export current prices from wordpress and import here (Name, current_price, new_price)
  <%= form_tag import_product_index_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import CSV" %>
  <% end %>
</p>

  <br/>


<p>
  3. Search and update in the table below
</p>
<table data-pagination="true" data-search="true" data-toggle="table" >
  <thead>
    <tr>
      <th>Name</th>
      <th>mungalo_price</th>
      <th>store_price</th>
    </tr>
  </thead>
  <tbody>
    <% @AllProducts.each do |data| %>
  <tr>
    <td><%= data.name %></td>
    <td><%= data.current_price %></td>
    <td>    <%= form_for data,  remote: true do |f| %>
    <%= f.number_field :new_price %>
    <%= f.submit "Save" %>
  <% end %></td>
  </tr>
  <% end %>
  </tbody>
</table>
